<div class="container text-dark mt-5" style="margin-top: 200px;">
  <!--ここに占いの結果を書いていく-->
  
  <p><%= @numerology[0] %></p>
  <p><%= @numerology[1] %></p>
  <p><%= @numerology_detail %></p>
  <p><%= @numerology_individual[0] %></p>
  <p><%= @numerology_individual[1] %></p>
  
</div>